<h1>Cliente</h1>
<main class="container">
    <div class="form-group">
        <label for="txtNome">Nome</label>
        <input type="text" 
            [(ngModel)]="cliente.nome"
            class="form-control" id="txtNome">
    </div>
    <div class="form-group">
        <label for="txtEndereco">Endereço</label>
        <input type="text" 
            [(ngModel)]="cliente.endereco"
            class="form-control" id="txtEndereco">
    </div>
    <div class="form-group">
        <label for="txtDataNascimento">Data Nascimento</label>
        <input type="date" 
            [(ngModel)]="cliente.dataNascimento"
            class="form-control" id="txtDataNascimento">
    </div>
    <button 
        (click)="salvar()"
    class="btn btn-primary">Salvar</button>
</main>
